.custom-gradient-button {
  background: linear-gradient(to right, purple, blue, black);
  color: white;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  font-size: 20px;
  width: 100%; /* 버튼의 너비를 100%로 설정하여 전체 너비를 차지하게 함 */
  max-width: 300px; /* 최대 너비를 설정하여 너무 커지지 않도록 제한 */
  display: block; /* 버튼이 차례로 쌓이도록 설정 */
  margin: 10px 0; /* 버튼 간의 간격을 설정 */
}

.custom-gradient-button:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
#dropdown-basic{
  margin-bottom: 18px;
}

.pagination {
  margin-top: 10px;
  font-size: 18px; /* 글씨 크기를 키워줍니다 */
}

.page-item .page-link {
  background-color: black; /* 기본 배경색을 검은색으로 설정 */
  
  border: none;
  margin: 0 2px; /* 아이템 간의 간격을 줍니다 */
  padding: 8px 12px; /* 아이템의 패딩을 설정하여 크기를 조정 */
  border-radius: 4px; /* 둥근 모서리 설정 */
}

.page-item .page-link:hover {
  background-color: #1e90ff; /* 마우스 호버 시 푸른색 계열로 변경 */
  color: white;
}

.page-item.active .page-link {
  background-color: #1e90ff; /* 현재 활성화된 페이지의 배경색도 푸른색 계열로 설정 */
  
}

.page-item .page-link:focus {
  outline: none;
}