body{
  background-color: black !important;
  color: white !important;
}

.app-layout {
  background-color: black;
  min-height: 100vh;
  
}

.navbar_layout {
  background-color: black !important;
}

